/*---
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-weight:300;
	font-family: 'Source Sans Pro', sans-serif;
}
.wrap{
	
}
.content {
	margin-top: 107px;
}
/*---start-header---*/
.header{
	background-color: #080808;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	border-color: #080808;
	border-bottom: 6px solid #080808;
	position: absolute;
	top: 0px;
	z-index: 5;
	opacity: 0.97;
	width:100%;
}
.logo{
	text-align: center;
}
.top-nav{
	text-align:center;
}
.top-nav ul li{
	display:inline-block;
}
.top-nav ul li a{
	font-family: 'Source Sans Pro', sans-serif;
	color: #080808;
	padding: 0px 12px;
	display: block;
	text-transform: uppercase;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.top-nav li.active> a, .top-nav li> a:hover {
	border-bottom: 8px solid #080808;
	color: #080808;
}
/*---End-header---*/
/*---content----*/
.grid1{
	background-size:100% 100%;
	background-position:top;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background:url('../images/bg1.jpg') top no-repeat;
	text-align:center;
	padding:25px 0px;
}
.grid1 h3{
	font-family: 'Josefin Slab', serif;
	color: #fff;
	font-size: 1.5em;
	font-weight: 600;
}
.grid1 img{
	background:#fff;
	padding:3px;
	border-radius:4%;
	-webkit-border-radius:4%;
	-moz-border-radius:4%;
	-o-border-radius:4%;
}
.grid1 p a,.grid1 p{
	color: #555;
	font-size: 1.4em;
	line-height: 1.5em;
}
.grid1 p{
	width: 57%;
	margin:0 auto;
}
.grid1 p a{
	font-size: 1em;
	padding-left: 5px;
	color:#2a323a;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.grid1 p a:hover{
	color:#FFF;
}
/*---grid2----*/
.grid2 h3{
	font-family: 'Josefin Slab', serif;
	color:#DC3D25;
	font-size: 2.2em;
	font-weight: 800;
	text-transform: capitalize;
}
.grid2 p{
	color: #2A323A;
	font-size: 1em;
	line-height: 1.5em;
}
.grid2{
	background:url('../images/bg.png');
	text-align:center;
	padding:125px 0px;
}
/*----grid3-----*/
.grid3{
	background:#F1f1f1;
	padding:125px 0px;
}
.grid3-header{
	text-align: center;
	border-bottom: 1px solid rgba(192, 192, 192, 0.44);
	width: 66%;
	margin: 0 auto;
}
.grid3-header h3{
	font-family: 'Josefin Slab', serif;
	color:#DC3D25;
	font-size: 1.4em;
	font-weight: 800;
	text-transform: capitalize;
}
.grid3-header p{
	color: #2A323A;
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 20px;
}
.grid3-left{
	
}
.grid3-left ul li{
	display:inline-block;
}
.grid3-left ul li a{
	padding: 9px;
}
.grid3-left h3{
	color: #2A323A;
	font-size: 1.9em;
	padding: 0px 0px 5px 0px;
}
.grid3-left p{
	color: #2A323A;
	font-size: 1em;
	line-height: 1.8em;
	padding-bottom: 20px;
	width: 98%;
}
.grid3-right{
	text-align:center;
}
.grid3-right img{
	text-align:center;
	background: #fff;
	padding: 4px;
	box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.14);
	-webkit-box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.14);
	-o-box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.14);
	-moz-box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.14);
}
.grid3-content{
	width: 65%;
	margin:0 auto;
	margin-top: 20px;
}
.button{
	font-size:1em;
	color: #FFFFFF;
	margin-top: 12px;
	background: #DC3D25;
	display: inline-block;
	padding: 8px 16px;
	text-transform: uppercase;
	font-size: 0.875em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.button:hover{
	background: #2A323A;
}
.grid3-left ul{
	margin: 0px 0px 9px 0px;
}
/*----twiiter-box----*/
.twiiter-box{
	padding: 10px 0px;
	text-align:center;
}
.twiiter-box p{
	color: #2A323A;
	font-size: 1em;
	line-height: 1.8em;
	padding-bottom: 20px;
	font-size: 1em;
}
.twiiter-box p a{
	color:#DC3D25;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	font-size: 1.1em;
}
.twiiter-box p a:hover{
	color:#2A323A;
}
/*---contact----*/
.contact{
	background: #efefef;
	text-align: center;
	padding:125px 0px;
}
.contact h3{
	color: #FF5008;
	font-size: 1.4em;
	padding-bottom: 4px;
}

.contact input[type="password"]{
    background: rgb(255, 255, 255);
    font-family: 'Source Sans Pro', sans-serif;
    width: 94%;
    margin:10px 0;
    display: inline-block;
    padding: 10px;
    color: #2A323A;
    font-size: 1em;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -o-border-radius: .2em;
    -moz-border-radius: .2em;
    border: none;
    outline: none;
    -webkit-appereance:none;
}

.contact input[type="text"]{
	background: rgb(255, 255, 255);
	font-family: 'Source Sans Pro', sans-serif;
	width: 94%;
	margin:10px 0;
	display: inline-block;
	padding: 10px;
	color: #2A323A;
	font-size: 1em;
	border-radius: .2em;
	-webkit-border-radius: .2em;
	-o-border-radius: .2em;
	-moz-border-radius: .2em;
	border: none;
	outline: none;
	-webkit-appereance:none;
}
.contact textarea{
	background: rgb(255, 255, 255);
	font-family: 'Source Sans Pro', sans-serif;
	width: 94%;
	margin: 0 auto;
	display: block;
	padding: 10px;
	margin-bottom: 10px;
	height: 120px;
	color: #2A323A;
	font-size: 1em;
	outline: none;
	-webkit-appereance:none;
	border: none;
	resize:none;
	-webkit-border-radius: .2em;
	-o-border-radius: .2em;
	-moz-border-radius: .2em;
}
.contact p{
	color: #2A323A;
	font-size: 1em;
	line-height: 1.8em;
	margin-bottom: 3px;
}
.contact input[type="submit"]{
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFFFFF;
	margin-top: 18px;
	background: #222;
	display: block;
	padding: 12px 0px;
	text-transform: uppercase;
	font-size: 0.875em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	border: none;
	width:94%;
	margin: 0 auto;
	border-radius: .2em;
	-webkit-border-radius: .2em;
	-o-border-radius: .2em;
	-moz-border-radius: .2em;
	outline: none;
}
.contact input[type="submit"]:hover{
	background: #DC3D25;
	color:#fff;
	cursor:pointer;
}
.catch-me{
	text-align:center;
	padding: 25px 0px;
}
.catch-me ul li{
	display:inline-block;
}
.catch-me h3{
	color: #2A323A;
	font-size:1.4em;
	padding-bottom: 12px;
	text-transform: uppercase;
}
.catch-me p{
	color: #2A323A;
	font-size: 1em;
	line-height: 1.8em;
	margin: 0 10px;
	padding-bottom: 22px;
}
.catch-me ul li a{
	display: block;
	margin: 0px 5px;
}
.catch-me ul li a img{
	border-radius: 10%;
	-webkit-border-radius:10%;
	-o-border-radius: 10%;
	-moz-border-radius:10%;
}
/*----footer----*/
.footer{
	text-align:center;
	padding:10px;
	background: #FF5008;
}
.footer p{
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
}
.footer p a{
	color:#222;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.footer p a:hover{
	color:#fff;
}
